@charset "UTF-8";

@import './base.scss';

html{
  box-sizing: border-box;
  font-family: $body-font;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header{
  background: $color1;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
h1{
font-family: $display-font;
margin: 0;
text-transform: uppercase;
width: 80%;
}