@import '_base.scss'; 

.options{
  position: absolute;
  left: -100%;
  background-color: $color2;
  border-bottom: 1px solid $color1;
  padding: 1rem 0.5rem;
  width: 100%;
  &__category, &__difficulty{
    margin-bottom: 1rem;
    legend{
    color: white;
    background: black;
    padding: 0.25rem 0.5rem;
    }
    label {
      text-transform: capitalize;
    }
    span {
      margin-left: 0.5rem;
    }
  }
}

